Repository tormach/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: pretty-format-json
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: black
    name: Run black code formatter
    description: This hook formats Python code.
    entry: env LC_ALL=C.UTF-8 black -q
    language: system
    args: [-l, "80"]
    types: [python]

  - id: clang-format
    name: clang-format
    description: Format files with ClangFormat.
    entry: clang-format-10
    language: system
    files: \.(c|cpp|h|hpp)$
    args: ['-fallback-style=none', '-i']

  - id: shfmt
    name: Run shfmt
    description: shfmt Shell code formatter.
    entry: shfmt -w
    args: [-i=4]
    language: system
    types: [file, shell]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.1.0
  hooks:
  - id: flake8
    # note: ignores and excluded files in .flake8

fix typo
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_pin_attrs.py
Due: black

update readme
  README.md
Due: none

Fix: new python module paths
  hal_hw_interface/hal_hw_interface/hal_mgr.py
  hal_hw_interface/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
  hal_hw_interface/hal_hw_interface/launch/hal_rt_node.py
  hal_hw_interface/hal_hw_interface/launch/hal_user_node.py
  hal_hw_interface/hal_hw_interface/loadrt_local.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_pin_attrs.py
Due: black

fix hal include path
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/include/hal_hw_interface/hal_ros_logging.hpp
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

Differentiate between pyhal and cyhal
  hal_hw_interface/hal_hw_interface/launch/hal_rt_node.py
  hal_hw_interface/hal_hw_interface/launch/hal_user_node.py
Due: black

Add ros control demos link
  README.md
Due: none

Fix typo in readme
  README.md
Due: none

.github: Update CI to Humble release from Foxy
  .github/workflows/ci.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/upstream.rosinstall
Due: none

hal_hw_interface: Update to ROS2 Humble APIs
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Update for Humble ros2_control
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Remove unused `setup.py`
  hal_hw_interface/setup.py
Due: black

hal_hw_interface: Add QoS profile to `RosHalPin` objects
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_component.py
Due: black

hal_hw_interface: CMake fixes
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/cmake/UseHALComp.cmake
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake
Due: none

hal_rrbot_control: Updates for ros2_control_demos Humble
  hal_rrbot_control/CMakeLists.txt
  hal_rrbot_control/launch/rrbot.launch.py
  hal_rrbot_control/package.xml
Due: black

hal_hw_interface: Move `rclpy.spin()` to base object
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
Due: black

hal_hw_interface: Updates for ROS2 Humble build
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Log tracebacks in launch actions
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
Due: black

CI: Fix CI failures
  .github/workflows/ci.yaml
  .github/workflows/format.yaml
  .github/workflows/upstream_install.sh
  .pre-commit-config.yaml
Due: none

hal_hw_interface: Disable flake8 tests
  hal_hw_interface/CMakeLists.txt
Due: none

hal_hw_interface: Fix cpplint errors
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: hal_io output pins may have initial value
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/ros_hal_pin.py
Due: black

hal_hw_interface: Log traceback in `RosHalComponent` node exceptions
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
Due: black

hal_hw_interface: Fix `RosHalComponent` init
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
Due: black

hal_hw_interface_msgs: Add missing `rosidl_adapter` dep
  hal_hw_interface_msgs/package.xml
Due: none

hal_hw_interface: Fix log messages
  hal_hw_interface/hal_hw_interface/launch/hal_rt_node.py
  hal_hw_interface/hal_hw_interface/launch/hal_user_node.py
Due: black

hal_hw_interface: Add cmake rules to build C HAL components
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/cmake/UseHALComp.cmake
Due: none

hal_hw_interface: Pass args through `loadrt_local()`
  hal_hw_interface/src/hal_hw_interface/loadrt_local.py
Due: black

Fix crash by not destroying ROS2 subscriber.
  hal_hw_interface/hal_hw_interface/launch/hal_mgr.py
Due: black

add velocity_override_msgs package
  velocity_override_msgs/CMakeLists.txt
  velocity_override_msgs/msg/MoveTypes.msg
  velocity_override_msgs/msg/ServiceNames.msg
  velocity_override_msgs/package.xml
  velocity_override_msgs/srv/FeedholdStatusService.srv
  velocity_override_msgs/srv/MoveTypeService.srv
Due: none

reorder alphabetically MMakeLists arguments
  interruptible_joint_trajectory_controller/CMakeLists.txt
Due: none

rename maxvel_scale parameter topic to maximum_velocity_scale
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/velocity_scale_manager.h
Due: clang-format

add velocity scale 10% cap
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/CommThread.h
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/velocity_scale.h
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/velocity_scale_base.h
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/velocity_scale_manager.h
  interruptible_joint_trajectory_controller/src/velocity_scale_manager.cpp
Due: clang-format

use maxvel scaling factor at safety trip, replaces uniform scale
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/velocity_scale_manager.h
Due: clang-format

cleanup dead code from previous commit
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

hal_io: implement reset feature for output pins
  hal_hw_interface/src/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

enable error logging at for dynamic velocity transition time update
  interruptible_joint_trajectory_controller/src/velocity_scale_manager.cpp
Due: clang-format

shorten transition time
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/velocity_scale_base.h
Due: clang-format

fix maxvel slider glitch
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format
