Repository tormach/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: pretty-format-json
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: black
    name: Run black code formatter
    description: This hook formats Python code.
    entry: env LC_ALL=C.UTF-8 black -q
    language: system
    args: [-l, "80"]
    types: [python]

  - id: clang-format
    name: clang-format
    description: Format files with ClangFormat.
    entry: clang-format-10
    language: system
    files: \.(c|cpp|h|hpp)$
    args: ['-fallback-style=none', '-i']

  - id: shfmt
    name: Run shfmt
    description: shfmt Shell code formatter.
    entry: shfmt -w
    args: [-i=4]
    language: system
    types: [file, shell]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.1.0
  hooks:
  - id: flake8
    # note: ignores and excluded files in .flake8

Updates for changes in `black` formatter
  hal_hw_interface/doc/conf.py
Due: black

hal_rrbot_control: Remove xacro files
  hal_rrbot_control/urdf/hal_rrbot.xacro
  hal_rrbot_control/urdf/hal_rrbot_gripper.xacro
Due: none

hal_rrbot_control: Consolidate HAL files into one
  hal_rrbot_control/halfiles/hal_gripper.hal
  hal_rrbot_control/halfiles/hal_hw_interface.hal
  hal_rrbot_control/halfiles/rrbot.hal
  hal_rrbot_control/halfiles/start_threads.hal
Due: none

hal_rrbot_control: Remove unused controllers config file
  hal_rrbot_control/config/rrbot_controllers.yaml
Due: none

CI: Temporarily use patched `ros2_control_demos` repo.
  .github/workflows/upstream.rosinstall
Due: none

hal_rrbot_control: Remove obsolete launch files
  hal_rrbot_control/launch/rrbot_test_trajectory.launch
  hal_rrbot_control/launch/rrbot_visualize.launch
Due: none

hal_rrbot_control: Update packaging to ROS2
  hal_rrbot_control/CMakeLists.txt
  hal_rrbot_control/COLCON_IGNORE
  hal_rrbot_control/package.xml
Due: none

hal_rrbot_control: Update launch file to Python
  hal_rrbot_control/launch/hal_rrbot_simulation.launch
  hal_rrbot_control/launch/rrbot.launch.py
Due: black

Add pre-commit pep257 hooks
  .pre-commit-config.yaml
  hal_hw_interface/hal_hw_interface/__init__.py
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/loadrt_local.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
Due: black

hal_hw_interface: Clean rosidl deps out of packaging
  hal_hw_interface/package.xml
Due: none

README: notes for switching controllers
  README.md
Due: none

hal_hw_interface: Add explanations to `assert` statements
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
Due: black

hal_hw_interface: Fix `RosHalPinPublisher` publishers
  hal_hw_interface/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_obj_base.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black

hal_hw_interface: Fix ROS2 param semantics; pass node kwargs
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/hal_mgr.py
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/hal_hw_interface/tests/conftest.py
  hal_hw_interface/hal_hw_interface/tests/hal_io.conf.yaml
  hal_hw_interface/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_io_comp.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_obj_base.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_component.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_pin.py
  hal_hw_interface/scripts/hal_io
Due: black

hal_hw_interface: Shut down ROS nodes gracefully
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/hal_hw_interface/tests/conftest.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_component.py
Due: black

hal_hw_interface: Add control node startup debug statements
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

hal_hw_interface: Remove "pin created" log message
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Pass precompiler macros through CMake
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/include/hal_hw_interface/hal_def.hpp
  hal_hw_interface/include/hal_hw_interface/hal_ros_logging.hpp
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Add `reset` HAL pin to controller manager
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Shut down controller manager cleanly
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

Remove useless CNAME macro check
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

hal_hw_interface: Remove obsolete launch files
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/config/hal_hw_interface.yaml.in
  hal_hw_interface/launch/hal_hw_interface.launch.py
Due: black

hal_hw_interface: Update hal_mgr to work with new launch system
  hal_hw_interface/hal_hw_interface/hal_mgr.py
Due: black

hal_hw_interface: Add HAL launch actions
  hal_hw_interface/hal_hw_interface/launch/__init__.py
  hal_hw_interface/hal_hw_interface/launch/hal_config.py
  hal_hw_interface/hal_hw_interface/launch/hal_files.py
  hal_hw_interface/hal_hw_interface/launch/hal_mgr.py
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
  hal_hw_interface/hal_hw_interface/launch/hal_ready.py
  hal_hw_interface/hal_hw_interface/launch/hal_rt_node.py
  hal_hw_interface/hal_hw_interface/launch/hal_user_node.py
Due: black

hal_rrbot_control: Update launch file to new launch scheme
  hal_rrbot_control/config/hal_hw_interface.yaml
  hal_rrbot_control/launch/rrbot.launch.py
Due: black

hal_hw_interface: Add fastrtps setuid hack to hal_mgr launcher
  hal_hw_interface/hal_hw_interface/hal_mgr.py
Due: black

hal_hw_interface: Graceful launcher exit
  hal_hw_interface/hal_hw_interface/hal_mgr.py
  hal_hw_interface/hal_hw_interface/launch/hal_mgr.py
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
  hal_hw_interface/hal_hw_interface/launch/hal_user_node.py
Due: black

hal_hw_interface: Add threaded launch action; improve debug messages
  hal_hw_interface/hal_hw_interface/launch/hal_files.py
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
  hal_hw_interface/hal_hw_interface/launch/hal_rt_node.py
Due: black

hal_hw_interface: Remove irrelevant doc string
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
Due: black

Update README for ROS2
  README.md
Due: none

hal_hw_interface: Remove hal_control_node sleep() call
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

hal_hw_interface: Remove unneeded launch log message
  hal_hw_interface/hal_hw_interface/launch/hal_ordered_action.py
Due: black

hal_hw_interface: Unload HAL user comps at realtime stop
  hal_hw_interface/hal_hw_interface/hal_mgr.py
Due: black

hal_hw_interface: Python ROS-HAL pin logging updates
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/ros_hal_pin.py
Due: black

hal_hw_interface: Add RT debugging HAL pins
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

Change include paths to new mk-hal cmake structure
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/include/hal_hw_interface/hal_ros_logging.h
Due: clang-format

change python module import paths to new cmake paths
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
  hal_hw_interface/src/hal_hw_interface/loadrt_local.py
Due: black

remedy for missing config module
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
Due: black

Fix import hal paths
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_pin_attrs.py
Due: black
